$color-1: #0d4bf4;
$color-2: #f5f5f5;
$color-3: #3165f3;
$color-4: #4976f3;
$color-5: #698df3;

// Panel Colors

$panel-color-1: #d7e1ff;
$panel-color-2: #92c4ff;
$panel-color-3: #0fac6d;
$panel-color-4: #ffa938;
$panel-color-5: #17a2b8;
$panel-color-6: #dc3545;

.add-new-ticket-field {
    fieldset {
        border: 2px solid white;
        border-radius: 1rem;
        legend {
            display: flex;
            align-items: center;
            border-radius: 100rem;
            font-size: 1.25rem;
            padding: 0.5em 1em;
            margin: 0 1.5rem;
            gap: 0.5rem;
            text-transform: uppercase;
            span {
            }
        }
        .content {
            padding: 0.75em 1em;
            padding-top: 0;
            input {
                all: unset;
                width: 100%;
                font-size: 1.5rem;
                padding: 0 0.5em;
            }
            textarea {
                max-width: 100%;
                outline: none !important;
                font-family: inherit;
                font-size: 1.5rem;
                background-color: unset;
                border: none;
                color: white;
                resize: none;
                width: 100%;
            }
        }
    }
}

.main-page-auth-fields {
    fieldset {
        border: 2px solid rgba(255, 255, 255, 0.2);
        border-radius: 0.5rem;
        transition: all 1s ease;
        box-shadow: 0 0.5rem 2rem 0rem transparent;
        legend {
            display: flex;
            align-items: center;
            border-radius: 100rem;
            font-size: 1.25rem;
            padding: 0.5em;
            margin: 0 1.5rem;
            gap: 0.5rem;
            text-transform: uppercase;
            transition: all 1s ease;
            span {
            }
        }
        .content {
            padding: 0.75em 1em;
            padding-top: 0;
            input {
                all: unset;
                width: 100%;
                font-size: 1.5rem;
                &:-webkit-autofill {
                    -webkit-text-fill-color: white !important;
                    background-color: transparent !important;
                    box-shadow: none !important;
                    border: none !important;
                    outline: none !important;
                    transition: background-color 5000s ease-in-out 0s;
                }
            }

            textarea {
                max-width: 100%;
                outline: none !important;
                font-family: inherit;
                font-size: 1.5rem;
                background-color: unset;
                border: none;
                color: white;
                resize: none;
                width: 100%;
            }
        }
    }
    .focus {
        border: 2px solid rgba(255, 255, 255, 1);
        box-shadow: 0 0.5rem 2rem 0rem rgba(255, 255, 255, 0.514);
        legend {
            background-color: white;
            color: $color-1;
            padding: 0.5em 1em;
        }
    }
}

.user-dashboard-field-box {
    border: none;
    border-radius: 0.5rem;
    padding: 0 0.5em;
    position: relative;
    background-color: white;
    box-shadow: 0.3rem 0.3rem 0.8rem 0rem rgba(0, 0, 0, 0.2);
    legend {
        background-color: white;
        font-size: 1.25rem;
        padding: 0.5em 1em;
        border-radius: 0.5rem;
        margin-left: 0.5rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 0.25rem;
    }
    .content {
        display: flex;
        align-items: center;
        padding: 0.25em 1em;
        gap: 0.25rem;
        min-width: 30ch;
        padding-bottom: 0.75em;
        .id {
            background-color: $panel-color-4;
            color: white;
            padding: 0.25em 1em;
            border-radius: 100rem;
        }
        button {
            all: unset;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            width: 100%;
            padding-right: 1.5em;
        }
        svg {
            font-size: 1.5rem;
            position: absolute;
            right: 1rem;
            top: 0.2rem;
            color: $panel-color-5;
        }
        input {
            all: unset;
            width: 100%;
            height: 100%;
            font-weight: bold;
        }
    }
}

.admin-dashboard-field-box {
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    legend {
        font-size: 1rem;
        display: flex;
        align-items: center;
        margin: 0 1rem;
        padding: 0 0.5em;
    }

    .field-body {
        padding: 0.5em 1em;
        display: flex;
        input  {
            all: unset;
            width: 100%;
        }
    }
}
