html {
  background-color: #f5f5f5;
  padding-bottom: 10em;
}

header {
  background-color: #0d4bf4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1.75em 7em;
  border-radius: 0 0 100rem 100rem;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  z-index: 999;
}
header .menu {
  display: flex;
  font-weight: bold;
  align-items: center;
  font-size: 1.2rem;
  gap: 0.5rem;
}
header .menu li {
  padding: 0.5em 0.5em;
  border-radius: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  cursor: pointer;
  border-bottom: 0px solid transparent;
  transition: all 0.5s ease;
}
header .menu li:hover {
  border-bottom: 10px solid white;
}
header .menu .selected {
  background-color: white;
  color: #0d4bf4;
  border: none !important;
}

.main-page {
  display: flex;
  flex-direction: column;
}
.main-page .poster {
  display: grid;
  grid-template-columns: 1fr 35rem;
  position: relative;
  color: white;
}
.main-page .poster .right {
  width: 100%;
  display: flex;
}
.main-page .poster .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30%;
}
.main-page .poster .left h1 {
  font-size: 4rem;
}
.main-page .poster .left small {
  width: 30rem;
  line-height: 2;
  margin-top: 1rem;
}
.main-page .poster .left .buttons {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main-page .poster .left .buttons button {
  border-radius: 100rem;
  padding: 1em 2em;
  font-weight: bold;
}
.main-page .poster .left .buttons button:first-child {
  background-color: white;
  color: #0d4bf4;
}
.main-page .poster .left .buttons button:last-child {
  border: 2px white solid;
}
.main-page .poster .background {
  background-image: url("/src/images/main-page/poster/background.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 1026px;
  position: absolute;
  top: -11rem;
  left: 0;
  right: 0;
  z-index: -1;
}
.main-page .intro {
  margin-top: 20rem;
  font-weight: bold;
}
.main-page .intro .start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-page .intro .start h1 {
  font-size: 3rem;
}
.main-page .intro .start p {
  margin-top: 1rem;
  max-width: 80ch;
  font-size: 1.1rem;
  line-height: 1.8;
  opacity: 0.5;
}
.main-page .intro .roads {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
}
.main-page .intro .roads .item {
  display: grid;
  grid-template-columns: 1fr 10rem 1fr;
  align-items: center;
  gap: 2rem;
  position: relative;
  padding-bottom: 10rem;
}
.main-page .intro .roads .item h2 {
  font-size: 2rem;
  font-weight: bold;
}
.main-page .intro .roads .item h2 span {
  color: #0d4bf4;
}
.main-page .intro .roads .item p {
  line-height: 1.5rem;
  margin-top: 1rem;
  opacity: 0.5;
  max-width: 25rem;
}
.main-page .intro .roads .item .left {
  direction: rtl;
}
.main-page .intro .roads .item .left p {
  direction: ltr;
  text-align: right;
}
.main-page .intro .roads .item::after {
  content: "";
  width: 3px;
  height: 10rem;
  background-color: #0d4bf4;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.main-page .intro .roads .item:last-child::after {
  all: unset;
}
.main-page .intro-2 {
  background-color: #698df3;
  position: relative;
  border-radius: 3rem;
  overflow: hidden;
}
.main-page .intro-2 .map {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;
  height: 30rem;
}
.main-page .intro-2 .our-activities {
  display: grid;
  grid-template-columns: 1fr 35rem;
  padding-top: 15em;
  padding-bottom: 5em;
}
.main-page .intro-2 .our-activities .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-page .intro-2 .our-activities .left .header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  padding-left: 20%;
}
.main-page .intro-2 .our-activities .left .header h1 {
  font-size: 5rem;
}
.main-page .intro-2 .our-activities .left .header p {
  max-width: 35rem;
  line-height: 1.5;
  font-size: 1.2rem;
}
.main-page .intro-2 .our-activities .left .char {
  margin-top: 3rem;
}
.main-page .intro-2 .our-activities .left .footer {
  width: 100%;
  padding-left: 20%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 4em;
}
.main-page .intro-2 .our-activities .left .footer h1 {
  font-size: 4rem;
}
.main-page .intro-2 .our-activities .left .footer h2 {
  font-size: 2rem;
}
.main-page .intro-2 .our-activities .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
.main-page .intro-2 .our-activities .right .item {
  width: 15rem;
  background-color: white;
  border-radius: 2rem;
  position: relative;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-page .intro-2 .our-activities .right .item .item-header {
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
}
.main-page .intro-2 .our-activities .right .item .item-header img {
  width: 6rem;
}
.main-page .intro-2 .our-activities .right .item .item-body {
  color: #3165f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
}
.main-page .intro-2 .our-activities .right .item .item-body h1 {
  font-size: 3rem !important;
}
.main-page .intro-2 .our-activities .right .item .item-body span {
  font-size: 1.5rem;
}
.main-page .intro-2 .our-services {
  display: flex;
  flex-direction: column;
  color: white;
}
.main-page .intro-2 .our-services .header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
}
.main-page .intro-2 .our-services .header h1 {
  font-size: 3rem;
}
.main-page .intro-2 .our-services .header p {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  opacity: 0.7;
  max-width: 45ch;
  text-align: center;
}
.main-page .intro-2 .our-services .body {
  display: flex;
}
.main-page .intro-2 .our-services .body .swiper {
  padding-bottom: 3em;
  width: 100%;
  max-width: 1200px;
}
.main-page .intro-2 .our-services .body .swiper .swiper-pagination-bullet {
  transition: all 1s ease;
  background-color: white !important;
}
.main-page .intro-2 .our-services .body .swiper .swiper-pagination-bullet-active {
  background-color: white !important;
  scale: 2;
}
.main-page .intro-2 .our-services .body .swiper .swiper-button-prev,
.main-page .intro-2 .our-services .body .swiper .swiper-button-next {
  width: 3rem !important;
}
.main-page .intro-2 .our-services .body .swiper .swiper-button-prev::after,
.main-page .intro-2 .our-services .body .swiper .swiper-button-next::after {
  all: unset;
}
.main-page .intro-2 .our-services .body .swiper .swiper-button-prev {
  content: url("https://api.iconify.design/icon-park-solid/left-c.svg?color=white");
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
}
.main-page .intro-2 .our-services .body .swiper .swiper-button-next {
  content: url("https://api.iconify.design/icon-park-solid/left-c.svg?color=white&rotate=180deg");
  height: -moz-max-content;
  height: max-content;
}
.main-page .intro-2 .our-services .body .item {
  position: relative;
  display: flex;
  height: -moz-max-content;
  height: max-content;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 2em;
  border-radius: 1rem;
  overflow: hidden;
  color: #3165f3;
  transition: all 1s ease;
  border: 4px transparent solid;
  cursor: pointer;
}
.main-page .intro-2 .our-services .body .item:hover {
  background-color: #0d4bf4;
  color: white;
  border: 4px white solid;
}
.main-page .intro-2 .our-services .body .item:hover .item-header {
  transform: translateX(30%);
  opacity: 1;
}
.main-page .intro-2 .our-services .body .item:hover .item-body button {
  background-color: white;
  color: #0d4bf4;
}
.main-page .intro-2 .our-services .body .item .item-header {
  display: flex;
  justify-content: start;
  position: absolute;
  top: 1rem;
  right: 0;
  bottom: 1rem;
  background-color: rgb(172, 255, 47);
  border-radius: 100rem 0 0 100rem;
  opacity: 0.75;
  transition: all 1s ease;
  transform: translateX(50%);
}
.main-page .intro-2 .our-services .body .item .item-header img {
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 1s ease;
  margin: 0 -1rem;
  position: relative;
  right: 2rem;
}
.main-page .intro-2 .our-services .body .item .item-body {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 1;
  font-weight: bold;
}
.main-page .intro-2 .our-services .body .item .item-body small {
  font-size: 1rem;
  max-width: 18ch;
}
.main-page .intro-2 .our-services .body .item .item-body button {
  transition: all 1s ease;
  margin-top: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4976f3;
  color: white;
  padding: 0.6em 1em;
  border-radius: 0.25rem;
  font-size: 0.9rem;
}
.main-page .intro-2 .our-popular-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../images/main-page/intro-2/our-popular-services/background.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 9em;
  position: relative;
}
.main-page .intro-2 .our-popular-services .header {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 2em;
}
.main-page .intro-2 .our-popular-services .header h1 {
  font-size: 3rem;
}
.main-page .intro-2 .our-popular-services .header p {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  opacity: 0.7;
  max-width: 45ch;
  text-align: center;
}
.main-page .intro-2 .our-popular-services .body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.main-page .intro-2 .our-popular-services .body .item {
  background-color: #3165f3;
  border-radius: 2rem;
  overflow: hidden;
  padding: 1em;
  padding-top: 0;
  padding-bottom: 4em;
  color: white;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: all 1s ease;
}
.main-page .intro-2 .our-popular-services .body .item .item-header {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.main-page .intro-2 .our-popular-services .body .item .item-header img {
  width: 16rem;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-page .intro-2 .our-popular-services .body .item .item-body {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
  padding: 1em 1.5em;
  padding-top: 0;
  z-index: 2;
}
.main-page .intro-2 .our-popular-services .body .item .item-body * {
  transition: all 1s ease;
}
.main-page .intro-2 .our-popular-services .body .item .item-body h2 {
  font-size: 2rem;
}
.main-page .intro-2 .our-popular-services .body .item .item-body p {
  line-height: 1.5;
}
.main-page .intro-2 .our-popular-services .body .item .item-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: white;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 1s ease-in-out;
  height: 3.5rem;
}
.main-page .intro-2 .our-popular-services .body .item .item-buttons .arrow-up {
  color: #0d4bf4;
  font-weight: bold;
  font-size: 3.5rem;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
}
.main-page .intro-2 .our-popular-services .body .item .item-buttons .see-more {
  font-size: 1rem;
  margin-top: auto;
  background-color: #0d4bf4;
  padding: 0.75em 3em;
  border-radius: 100rem 100rem 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  opacity: 0;
  transition: all 1s ease;
}
.main-page .intro-2 .our-popular-services .body .item:hover .item-body {
  color: #0d4bf4;
}
.main-page .intro-2 .our-popular-services .body .item:hover .item-buttons {
  z-index: 0;
  height: 100%;
}
.main-page .intro-2 .our-popular-services .body .item:hover .item-buttons .arrow-up {
  transform: rotate(180deg);
}
.main-page .intro-2 .our-popular-services .body .item:hover .item-buttons .see-more {
  opacity: 1;
}
.main-page .intro-2 .our-popular-services .rocket {
  position: absolute;
  right: 0;
  top: 5rem;
  width: 20rem;
  bottom: 0;
}
.main-page .customers-reviews {
  background-color: #f0f0f0;
  position: relative;
}
.main-page .customers-reviews .background {
  position: absolute;
  top: -20%;
}
.main-page .customers-reviews .first-section {
  display: flex;
  align-items: start;
  justify-content: center;
  overflow: hidden;
  gap: 7rem;
  padding-top: 15em;
}
.main-page .customers-reviews .first-section .left {
  position: relative;
  background-color: #0d4bf4;
  border-radius: 3rem;
  margin-bottom: 7em;
  animation: tilt 3s infinite;
  rotate: 45deg;
}
.main-page .customers-reviews .first-section .left img {
  position: relative;
  rotate: -45deg;
  scale: 1.5;
}
.main-page .customers-reviews .first-section .right {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.main-page .customers-reviews .first-section .right h1 {
  font-size: 4rem;
  line-height: 1.2;
}
.main-page .customers-reviews .first-section .right h1 span {
  color: #0d4bf4;
}
.main-page .customers-reviews .first-section .right button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d4bf4;
  color: white !important;
  padding: 0.75em 2em;
  font-size: 1rem;
  border-radius: 2rem;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1rem;
}
.main-page .customers-reviews .comments {
  display: grid;
  grid-template-columns: 22rem 1fr;
  gap: 5rem;
  padding: 0 10%;
  padding-top: 10rem;
}
.main-page .customers-reviews .comments .left .swiper {
  padding-bottom: 3em;
}
.main-page .customers-reviews .comments .left .swiper-slide {
  border-radius: 1rem;
}
.main-page .customers-reviews .comments .left .item {
  display: flex;
  flex-direction: column;
  color: white;
  box-shadow: none !important;
  overflow: hidden;
}
.main-page .customers-reviews .comments .left .item .item-header {
  display: flex;
  align-items: center;
  padding: 1.5em;
  gap: 1rem;
}
.main-page .customers-reviews .comments .left .item .item-header h1 {
  font-size: 1.5rem;
}
.main-page .customers-reviews .comments .left .item .item-header img {
  width: 4rem;
}
.main-page .customers-reviews .comments .left .item .item-body {
  background-color: white;
  color: #0d4bf4;
  padding: 2em;
  display: flex;
  flex-direction: column;
}
.main-page .customers-reviews .comments .left .item .item-body h1 {
  color: #0d4bf4;
}
.main-page .customers-reviews .comments .left .item .item-body p {
  margin-top: 1rem;
  opacity: 0.8;
  line-height: 1.5;
}
.main-page .customers-reviews .comments .left .item .item-body .rating {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1.25em;
  font-size: 1.5rem;
  color: white;
  gap: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: goldenrod;
  margin-top: 1.5rem;
  border-radius: 100rem;
}
.main-page .customers-reviews .comments .right {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.main-page .customers-reviews .comments .right .swiper {
  width: 100%;
  max-width: 40rem;
}
.main-page .customers-reviews .comments .right .progressers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}
.main-page .customers-reviews .comments .right .progressers .react-sweet-progress-symbol {
  display: none;
}
.main-page .customers-reviews .comments .right .progressers .react-sweet-progress-line {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.main-page .customers-reviews .comments .right .progressers h1 {
  font-size: 1.5rem;
  font-weight: bold;
  grid-column: -1/1;
}
.main-page .customers-reviews .comments .right .progressers h1 span {
  color: #0d4bf4;
  font-weight: bold;
  font-size: 3rem;
}
.main-page .customers-reviews .comments .right .progressers .item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-page .customers-reviews .comments .right .progressers .item .header {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  gap: 0.5rem;
}
.main-page .customers-reviews .comments .right .progressers .item .header span {
  font-size: 1.25rem;
}
.main-page .about-us {
  background-color: #f0f0f0;
  display: grid;
  grid-template-columns: 1fr 40rem;
  padding: 2em;
  align-items: center;
  padding-top: 10rem;
}
.main-page .about-us .left {
  scale: 1.2;
}
.main-page .about-us .right {
  position: relative;
  background-image: url("../../images/main-page/about-us/blob.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.main-page .about-us .right .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.main-page .about-us .right .content {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: #0d4bf4;
  padding-left: 20%;
}
.main-page .about-us .right .content h1 {
  font-size: 4rem;
  padding-top: 2em;
}
.main-page .about-us .right .content p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-top: 1rem;
  max-width: 40ch;
}
.main-page .about-us .right .content .social-media {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 3rem;
}
.main-page .about-us .right .content .social-media .social {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
  gap: 0.5rem;
  font-weight: bold;
}
.main-page .about-us .right .content button {
  background-color: #0d4bf4;
  width: -moz-max-content;
  width: max-content;
  color: white;
  padding: 1em 2em;
  border-radius: 100rem;
  margin-bottom: -1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

@keyframes tilt {
  0% {
    background-color: #0d4bf4;
    transform: translateY(0%) translateX(0%);
  }
  25% {
    transform: translateY(2%) translateX(2%);
  }
  50% {
    background-color: rgba(105, 142, 243, 0.0980392157);
    transform: translateX(1rem);
  }
  75% {
    transform: translateY(-2%) translateX(-2%);
  }
  100% {
    transform: translateY(0%) translateX(0%);
  }
}/*# sourceMappingURL=style.css.map */