$color-1: #0d4bf4;
$color-2: #f5f5f5;
$color-3: #3165f3;
$color-4: #4976f3;
$color-5: #698df3;

// Panel Colors

$panel-color-1: #d7e1ff;
$panel-color-2: #92c4ff;
$panel-color-3: #0fac6d;
$panel-color-4: #ffa938;
$panel-color-5: #17a2b8;
$panel-color-6: #dc3545;

// Table Component Style

.table {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    flex-wrap: wrap;

    .table-header {
        display: grid;
        grid-template-columns: inherit;
        gap: 1rem;
        background-color: $color-3;
        padding: 1.5em 2em;
        color: white;
        border-radius: 1rem;
        .item {
            display: flex;
            align-items: center;
            justify-content: start;
            font-size: 1.2rem;
        }
    }
    .table-body {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1em;
        background-color: white;
        min-height: 35rem;
        max-height: 30rem;
        overflow: auto;
        grid-template-columns: inherit;
        transition: all 1s ease;
        .row {
            grid-column: -1/1;
            display: grid;
            grid-template-columns: inherit;
            gap: 1rem;
            border-bottom: 2px dashed rgba(0, 0, 0, 0.2);
            padding-bottom: 1em;
            .property {
                display: flex;
                align-items: center;
                line-height: 1.5;
                .property-body {
                    align-self: center;
                    justify-self: start;
                    max-width: 100%;
                    white-space: wrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    img {
                        max-width: 4rem;
                    }
                }
                .max-2-line {
                }
                .property-header {
                    display: none;
                }

                &:first-child {
                    .property-body {
                        background-color: $panel-color-3;
                        padding: 0.5em 1em;
                        border-radius: 100rem;
                        color: white;
                    }
                }
            }

            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }
        }
    }
    .table-category {
        display: grid;
        grid-template-columns: inherit;
        h1 {
            grid-column: -1/1;
            text-align: center;
            padding: 0.5em;
        }
        .row {
            margin-top: 0.75rem !important;
            padding: 0.5em 1em;
            padding-top: 0;
            .long {
               
            }
        }
    }
    .table-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 2rem;
        font-size: 2rem;
        gap: 2rem;
        .left,
        .right {
            display: flex;
        }
        .mid {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        }
    }

}

@media only screen and (max-width: 1100px) {
    .table {
        flex-direction: row;
        .table-header {
            display: none;
        }
        .table-body {
            overflow: auto;
            grid-template-columns: 1fr;
            .row {
                gap: 0;
                .property {
                    display: grid;
                    grid-template-columns: 7ch 1fr;
                    align-items: initial;
                    gap: 1rem;
                    .property-header {
                        display: flex;
                        padding: 0.5em;
                        background-color: $color-3;
                        color: white;
                        align-items: center;
                        text-transform: capitalize;
                    }
                    .property-body {
                        display: flex;
                        align-items: center;
                    }
                    &:first-child {
                        .property-header {
                            border-radius: 0.5rem 0.5rem 0 0;
                        }
                        .property-body {
                            margin-bottom: 1rem;
                        }
                    }
                    &:last-child {
                        .property-header {
                            border-radius: 0 0 0.5rem 0.5rem;
                        }
                    }
                }
            }
        }
    }
}
