$color-1: #0d4bf4;
$color-2: #f5f5f5;
$color-3: #3165f3;
$color-4: #4976f3;
$color-5: #698df3;

// Panel Colors

$panel-color-1: #d7e1ff;
$panel-color-2: #92c4ff;
$panel-color-3: #0fac6d;
$panel-color-4: #ffa938;
$panel-color-5: #17a2b8;
$panel-color-6: #dc3545;

.select-box {
    
    * {
        transition: all 1s ease;
    }
    fieldset {
        border: 2px solid white;
        border-radius: 1rem;
        
        legend {
            display: flex;
            align-items: center;
            border-radius: 100rem;
            font-size: 1.25rem;
            padding: 0.5em 1em;
            margin: 0 1.5rem;
            gap: 0.5rem;
            text-transform: uppercase;

            span {
            }
        }
        .content {
            padding: 1em;
            padding-top: 0;
            .selected-option {
                font-size: 1.5rem;
                padding: 0 0.5em;
                border-bottom: 2px dashed transparent;
                transition-duration: 0.5s;
                cursor: pointer;
            }
            .available-options {
                display: grid;
                grid-template-rows: 0fr;
                .options-container {
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    .option {
                        color: $color-1;
                        padding: 0.75em ;
                        transition: all 0.5s ease;
                        cursor: pointer;
                        border-radius: 0.5rem;
                      
                        &:hover {
                            background-color: $color-1;
                            color: white;
                        }
                    }
                }
            }
        }
    }

    .true {
        background-color: white;

        legend {
            padding: 0.5em 1em;
            color: white;
            background-color: $color-1;
        }
        .content {
            * {
                color: $color-1;
            }
            .selected-option {
                font-size: 1.5rem;
                padding: 0.5em;
                border-color: rgba(0, 0, 0, 0.2);
            }
            .available-options {
                grid-template-rows: 1fr;
                margin-top: 0.5rem;
            }
        }
    }
}


// Select Box Styles

.select-search-container {
    width: 10rem !important;
    transition: all 1s ease;
    input {
        background-color: $color-4;
        border-radius: 100rem;
        border: none !important;
        text-align: center;
        padding: 0 !important;
    }
}
.select-search-has-focus {
    width: 20rem !important;
    .select-search-select {
        opacity: 1;
        pointer-events: initial;
    }
}
.select-search-select {
    background-color: transparent !important;
    border: none !important;
    display: block !important;
    pointer-events: none;
    opacity: 0;
    transition: all 1s ease;
}
.select-search-options {
    background-color: $color-4;
    overflow: hidden;
    border-radius: 1rem;

    .select-search-group-header {
        background-color: white;
        color: black;
        font-weight: bold;
    }
    button {
        background-color: $color-4;
        &:hover {
            background-color: $color-1 !important;
        }
    }
}

