$color-1: #0d4bf4;
$color-2: #f5f5f5;
$color-3: #3165f3;
$color-4: #4976f3;
$color-5: #698df3;

// Panel Colors

$panel-color-1: #d7e1ff;
$panel-color-2: #92c4ff;
$panel-color-3: #0fac6d;
$panel-color-4: #ffa938;
$panel-color-5: #17a2b8;
$panel-color-6: #dc3545;

.accordion {
    .container {
        display: flex;
        flex-direction: column;
        gap: 0 !important;
        transition: all 0.5s ease;
        .accordion-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            svg {
                margin-right: 2rem;
                font-size: 1.25rem;
                transition: all 0.5s ease;
            }
        }
        .accordion-body {
            display: grid;
            grid-template-rows: 0fr;
            transition: all 1s ease;
            .content {
                overflow: hidden;
            }
        }
    }

    .true {
        .accordion-header {
            svg {
                background-color: $color-1;
                color: white;
                border-radius: 100rem;
                rotate: 180deg;
            }
        }
        .accordion-body {
            grid-template-rows: 1fr;
        }
        background-color: white;
        color: $color-1;
    }

    .tickets-freq-item {
        border: 2px solid white;
        border-radius: 1rem;
        .header {
            padding: 1em;
            font-size: 1.25rem;
        }
        .body {
            padding: 0 2em;
            margin-top: 0em !important;
            line-height: 1.5;
            padding-top: 0;
            padding-bottom: 2em;
        }
    }
}




// Accordions
.faqs-accordion {
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: all 0.5s ease;
    background-color: white;
    color: $color-1;

    .accordion-header {
        width: max-content;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.75em;
        width: 100%;
        transition: all 0.5s ease;
        border-bottom: 2px solid transparent;
        h1 {
            font-size: 1rem;
        }
        svg {
            font-size: 2rem;
        }
    }
    .accordion-body {
        display: grid;
        grid-template-rows: 0fr;
        transition: all 1s ease;
        font-size: 0.9rem;
        .content {
            overflow: hidden;
            p {
                line-height: 1.5;
                padding: 1em 1.5em;
                padding-top: 0.75em;
            }
        }
    }
    .accordion-arrow {
        transition: all 0.5s ease;
    }
    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}
.accordion-true {
    opacity: 1;
    background-color: white;
    .accordion-header {
        color: $color-1;
        border-bottom: 2px solid #698ef323;
    }
    .accordion-body {
        grid-template-rows: 1fr;
    }
    .accordion-arrow {
        rotate: 180deg;
    }
}
