.auth-page {
  background-image: url("../../../images/auth-page/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}
.auth-page .left {
  width: 50%;
  max-width: 40rem;
}
.auth-page .left .rocket {
  position: absolute;
  bottom: 0;
  opacity: 0.24;
  right: 0;
  width: 50vw;
}
.auth-page .left .lottie {
  width: 100%;
}
.auth-page .left h1 {
  color: white;
  font-size: 6rem;
  padding: 1em;
}
.auth-page .left img {
  width: 40rem;
}
.auth-page .right {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2em;
  position: relative;
  border-radius: 1rem;
  color: white;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}
.auth-page .right .form-header {
  padding-bottom: 0.5em;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}
.auth-page .right .form-header h1 {
  text-align: center;
  width: 10ch;
  font-size: 1rem;
  padding: 0.6em 0;
  padding-top: 0.4em;
  border-radius: 100rem;
  transition: all 0.5s ease;
  cursor: pointer;
}
.auth-page .right .form-header h1:hover {
  background-color: white;
  color: white;
}
.auth-page .right .form-header .selected {
  font-size: 1.25rem;
  background-color: white;
  color: #0d4bf4 !important;
}
.auth-page .right .form-body {
  display: flex;
  flex-direction: column;
  z-index: 3 !important;
}
.auth-page .right .form-body .select-box {
  z-index: 5 !important;
}
.auth-page .right .form-body .select-box * {
  color: black;
}
.auth-page .right .form-body .select-box-field {
  z-index: 1 !important;
}
.auth-page .right .form-body .select-box-field:hover {
  scale: 1 !important;
}
.auth-page .right .form-body .part {
  display: grid;
  transition: all 1s ease, opacity 2s linear;
}
.auth-page .right .form-body .container {
  display: grid;
  overflow: hidden;
}
.auth-page .right .form-body .container fieldset {
  border-radius: 0.5rem;
  border: 2px currentColor solid;
  transition: all 0.5s ease;
  margin-top: 0.5rem;
  max-width: 16rem;
}
.auth-page .right .form-body .container fieldset legend {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  gap: 0.25rem;
  padding: 0 0.5em;
  text-transform: uppercase;
  transition: all 0.5s ease;
  padding: 0.5em 0.75em;
}
.auth-page .right .form-body .container fieldset input[type=password],
.auth-page .right .form-body .container fieldset input[type=email],
.auth-page .right .form-body .container fieldset input[type=text] {
  all: unset;
  width: 15rem;
  padding: 0.5em;
  padding-top: 0.25em;
}
.auth-page .right .form-body .container fieldset:hover {
  scale: 0.95;
}
.auth-page .right .form-body .container .focues {
  background-color: white;
  color: #0d4bf4;
  opacity: 1;
  border-color: white;
}
.auth-page .right .form-body .container .focues legend {
  background-color: #0d4bf4;
  border-radius: 100rem;
  color: white;
}
.auth-page .right .form-body .sign-up-fields {
  grid-template-rows: 0fr;
  opacity: 0;
}
.auth-page .right .form-body .gender-box {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  gap: 0.5rem;
  padding-bottom: 0.5em;
}
.auth-page .right .form-body .gender-box label {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  gap: 0.25rem;
}
.auth-page .right .form-body .expanded {
  grid-template-rows: 1fr;
  opacity: 1;
}
.auth-page .right .form-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}
.auth-page .right .form-buttons .submit {
  background-color: #0d4bf4;
  font-weight: bold;
  text-align: center;
  padding: 0.75em;
  width: 15ch;
  border-radius: 100rem;
  font-size: 1.1rem;
  margin-top: 0.5rem;
  color: white;
}
.auth-page .right .form-auth-options {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  gap: 1rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 1100px) {
  .auth-page .left {
    position: absolute;
    opacity: 0.2;
  }
  .auth-page .right {
    z-index: 2;
    -webkit-backdrop-filter: initial;
            backdrop-filter: initial;
  }
}/*# sourceMappingURL=AuthPageStyle.css.map */