$color-1: #0d4bf4;
$color-2: #f5f5f5;
$color-3: #3165f3;
$color-4: #4976f3;
$color-5: #698df3;

// Panel Colors

$panel-color-1: #d7e1ff;
$panel-color-2: #92c4ff;
$panel-color-3: #0fac6d;
$panel-color-4: #ffa938;
$panel-color-5: #17a2b8;
$panel-color-6: #dc3545;


@font-face {
    font-family: dosis-regular;
    src: url("../../fonts/dosis/Dosis-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    line-height: 1;
    user-select: none;
    font-family: dosis-regular !important;
}

button {
    all: unset;
    cursor: pointer !important;
}

.App {
    margin: 0 auto;
    min-height: 100dvh;
    font-family: dosis-regular;
    max-width: 1920px !important;
    // max-width: 1300px !important;
}

section {
}

img {
    display: flex;
    width: 100%;
}

.swiper {
    width: 100%;
    height: max-content !important;
    min-width: 0;

    .controlls {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 2rem;
        .swiper-custom-pagination {
            width: max-content;
            .swiper-pagination-bullet {
                transition: all 0.5s ease;
            }
            .swiper-pagination-bullet-active {
                scale: 1.5;
            }
        }
        .arrow-disabled {
            opacity: 0.25;
            scale: 0.8;
        }
        .arrow {
            font-size: 3rem;
            transition: all 1s ease;
            svg {
                background-color: $color-1;
                border-radius: 50%;
                color: white;
                width: 3rem;
                height: 3rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}




