$color-1: #0d4bf4;
$color-2: #f5f5f5;
$color-3: #3165f3;
$color-4: #4976f3;
$color-5: #698df3;

// Panel Colors

$panel-color-1: #d7e1ff;
$panel-color-2: #92c4ff;
$panel-color-3: #0fac6d;
$panel-color-4: #ffa938;
$panel-color-5: #17a2b8;
$panel-color-6: #dc3545;



.main-page {
    display: flex;
    flex-direction: column;
    position: relative;

    section {
    }

    .accent-color {
        color: $color-1;
        margin: 0.5rem;
    }

    .main-background {
        position: fixed;
        top: 0rem;
        width: 100%;
        opacity: 0.2;
        background-color: transparent;
        pointer-events: none;
        z-index: 1;
    }

    .poster {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        color: white;
        align-items: center;
        background-image: url("../../../images/main-page/poster/background.svg");
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        min-height: 90vh !important;
        max-height: 60rem;
        overflow: hidden;

        .right {
            display: flex;
            align-items: center;
            width: calc(20rem + 20vw);
            .animation {
                margin: -20%;
                animation: posterAnimation 10s linear infinite;
            }
        }
        .left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1 {
                font-size: 3.75em;
                line-height: 1.2;
                text-transform: uppercase;
            }
            .account {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;
                color: $color-1;
                font-weight: bold;
                font-size: 1.5rem;
                width: max-content;
                border-radius: 100rem;
                margin-top: 1rem;
                padding: 0.5em 1em;
                cursor: pointer;
            }

            .fields {
                display: flex;
                flex-direction: column;
                margin-top: 1rem;
                gap: 1rem;
                max-width: 20rem;

                .form-options {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0.5em;
                    button {
                        display: flex;
                        align-items: center;
                    }
                    label {
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        gap: 0.25rem;
                    }
                }
                .form-buttons {
                    display: flex;
                    gap: 0.5rem;
                    justify-content: center;
                    align-items: center;
                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 100rem;
                        padding: 0.5em 1.5em;
                        font-size: 1.2rem;
                        font-weight: bold;
                        text-transform: uppercase;
                        gap: 0.5rem;
                        &:first-child {
                            border: 2px solid white;
                            color: white;
                        }
                        &:last-child {
                            background-color: white;
                            color: $color-1;
                        }
                    }
                }
                .form-fields {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }
            }
        }
        .background {
            position: absolute;
            z-index: -1;
            object-fit: cover;
            top: -6rem;
            display: none;
            // backgroۀund-color: rebeccapurple;
        }
    }

    .why-choose-us {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        position: relative;
        padding: 5em 0;
        gap: 1.5rem;
        padding-bottom: 0;
        overflow: hidden;
        marquee {
            display: none;
        }
        .start {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            h1 {
                font-size: 2.25rem;
            }
            p {
                margin-top: 0.5rem;
                max-width: 80ch;
                font-size: 1rem;
                line-height: 1.5;
                opacity: 0.5;
            }
        }

        .roads-marquee {
            width: 1200px;
            max-width: max-content;
            margin: 0 auto;
            .item {
                display: flex;
                align-items: center;
                justify-content: start;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                position: relative;
                padding-bottom: 2em;
                background-color: white;
                box-shadow: 0.3rem 0.2rem 0.3rem 0 rgba(0, 0, 0, 0.1);
                padding: 2em;
                border-radius: 1rem;
                .item-header {
                    img {
                        width: 6rem;
                    }
                }
                .item-body {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    gap: 0.5rem;
                    h2 {
                        font-size: 1.25rem;
                        font-weight: bold;
                        span {
                            color: $color-1;
                        }
                    }
                    p {
                        line-height: 1.5rem;
                        opacity: 0.5;
                        max-width: 25rem;
                        border-radius: 0.4rem;
                        white-space: pre-wrap;
                    }
                }
            }
            .roads {
                display: flex;
                margin: 0;
                gap: 2rem;
                padding: 2em 0;
                .item {
                    max-width: 15rem;
                }
            }
        }

        .background {
            z-index: -2;
            mix-blend-mode: multiply;
            height: 100%;
            .animation {
                opacity: 0.1;
                top: 0;
                position: absolute;
                height: 100%;
                width: 25em;
                mix-blend-mode: multiply;
                animation: introRocketAnimation 20s ease infinite;
                path {
                }
            }
            .cloude {
                position: absolute;
                inset: 0;
                opacity: 0.5;
                z-index: -1;
            }
        }
    }

    .introduction {
        display: flex;
        border-radius: 3rem;
        border-radius: 3rem;
        overflow: hidden;
        flex-direction: column;
        background-color: white;
        position: relative;
        margin-top: 3rem;
        width: 80%;
        align-self: center;
        .world-map {
            width: 100%;
            left: 0;
            right: 0;
            display: grid;
            grid-template-columns: 30rem 30rem;
            padding: 1em 2em;
            padding-bottom: 0;
            align-items: center;
            justify-content: center;
            img {
                aspect-ratio: 1/1;
            }
            .company-statics-description {
                h1 {
                    font-size: 2.5rem;
                    display: flex;
                }
                p {
                    font-size: 1.1rem;
                    line-height: 1.5;
                    margin-top: 0.5rem;
                }
            }
            .animation {
                aspect-ratio: 16/10;
                mix-blend-mode: multiply;
            }
        }

        .company-statics {
            display: flex;
            flex-direction: column;
            position: relative;
            padding: 1em;
            .statics {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 1rem;
                top: 0;
                .item {
                    width: 15rem;
                    border-radius: 1rem;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1.5em 0;
                    gap: 1rem;
                    transition: all 1s ease;
                    border-bottom: 4px solid transparent;

                    .item-header {
                        img {
                            width: 4rem;
                            border-radius: 50%;
                        }
                    }
                    .item-body {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        gap: 0.5rem;
                        font-weight: bold;
                        h1 {
                            font-size: 1.75rem !important;
                        }
                        span {
                            font-size: 1rem;
                            text-transform: uppercase;
                        }
                    }
                }
                .true {
                    background-color: #92c5ff1a;
                    border-bottom: 4px solid $color-1;
                }
            }
        }

        .our-activities {
            display: grid;
            grid-template-columns: 1fr 30rem;
            margin-top: 2rem;
            padding: 0 10%;
            .right {
                position: relative;
                img {
                    mix-blend-mode : multiply;
                    border-radius: 2rem;
                    
                }
            }
            .left {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 2em;
                text-align: left;
                h1 {
                    display: flex;
                    align-items: center;
                    font-size: 2.5rem;
                }
                p {
                    line-height: 1.5;
                    font-size: 1.1rem;
                }
            }
        }

        .our-services {
            display: flex;
            flex-direction: column;
            color: white;
            background-color: $color-5;
            padding: 2em;
            padding-bottom: 0;
            align-self: center;
            position: relative;
            width: 100%;
            .header {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 2em;
                z-index: 2;
                h1 {
                    font-size: 2.5rem;
                }
                p {
                    font-size: 1.1rem;
                    margin-top: 0.5rem;
                    max-width: 45ch;
                    text-align: center;
                    line-height: 1.5;
                }
            }

            .body {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                z-index: 1;
                .swiper {
                    width: 100%;
                    max-width: 1200px;
                    .swiper-pagination-bullet {
                        transition: all 0.5s ease;
                        background-color: white !important;
                    }
                    .swiper-pagination-bullet-active {
                        background-color: white !important;
                        scale: 2;
                        opacity: 1 !important;
                    }
                    .swiper-controlls {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0.5rem;
                        margin-top: 2rem;
                        .bullet-container {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: max-content;
                        }
                        .arrow {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 2rem;
                            transition: all 1s ease;
                            scale: 1.5;
                            border-radius: 50%;
                        }
                        .false {
                            opacity: 0.5;
                            scale: 1;
                        }
                    }
                }
                .item {
                    position: relative;
                    display: flex;
                    height: max-content;
                    flex-direction: column;
                    gap: 1rem;
                    background-color: white;
                    padding: 2em;
                    border-radius: 1rem;
                    overflow: hidden;
                    color: $color-3;
                    transition: all 1s ease;
                    border: 4px transparent solid;
                    cursor: pointer;

                    &:hover {
                        background-color: $color-1;
                        color: white;
                        border: 4px white solid;
                        .item-header {
                            transform: translateX(30%);
                            opacity: 1;
                        }

                        .item-body {
                            button {
                                background-color: white;
                                color: $color-1;
                            }
                        }
                    }
                    .item-header {
                        display: flex;
                        justify-content: start;
                        position: absolute;
                        top: 1rem;
                        right: 0;
                        bottom: 1rem;
                        background-color: rgb(172, 255, 47);
                        border-radius: 100rem 0 0 100rem;
                        opacity: 0.75;
                        transition: all 1s ease;
                        transform: translateX(50%);
                        img {
                            object-fit: contain;
                            transition: all 1s ease;
                            margin: -0 -1rem;
                            position: relative;
                            right: 2rem;
                        }
                    }
                    .item-body {
                        display: flex;
                        align-items: start;
                        flex-direction: column;
                        gap: 0.5rem;
                        z-index: 1;
                        font-weight: bold;
                        h1 {
                        }
                        small {
                            font-size: 1rem;
                            max-width: 18ch;
                        }
                        button {
                            transition: all 1s ease;
                            margin-top: 0.5rem;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: $color-4;
                            color: white;
                            padding: 0.6em 1em;
                            border-radius: 0.25rem;
                            font-size: 0.9rem;
                        }
                    }
                }
                .background {
                    position: absolute;
                    opacity: 0.3;
                    width: 40%;
                    .animation {
                    }
                }
            }
        }

        .our-popular-services {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-image: url("../../../images/main-page/intro-2/our-popular-services/background.svg");
            background-size: contain;
            background-repeat: no-repeat;
            padding-bottom: 9em;
            position: relative;
            background-color: $color-5;
            align-self: center;
            width: 100%;

            .header {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 2em;
                color: white;
                z-index: 2;
                h1 {
                    font-size: 2rem;
                }
                p {
                    font-size: 1.25rem;
                    margin-top: 0.5rem;
                    max-width: 45ch;
                    text-align: center;
                    line-height: 1.5;
                }
            }
            .body {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 2rem;
                .item {
                    background-color: $color-3;
                    border-radius: 2rem;
                    overflow: hidden;
                    padding: 1em;
                    padding-top: 0;
                    padding-bottom: 4em;
                    color: white;

                    position: relative;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    transition: all 1s ease;
                    .item-header {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        z-index: 2;

                        img {
                            width: 14rem;
                            aspect-ratio: 1/1;
                            object-fit: contain;
                        }
                    }
                    .item-body {
                        display: flex;
                        align-items: start;
                        flex-direction: column;
                        gap: 1rem;
                        padding: 1em 1em;
                        padding-top: 0;
                        z-index: 2;

                        * {
                            transition: all 1s ease;
                        }
                        h2 {
                            font-size: 1.5rem;
                        }
                        p {
                            line-height: 1.5;
                            font-size: 0.9rem;
                        }
                    }
                    .item-buttons {
                        pointer-events: none;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        position: absolute;
                        background-color: white;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        transition: all 1s ease-in-out;
                        height: 3.5rem;
                        .arrow-up {
                            color: $color-1;
                            font-weight: bold;
                            font-size: 2.5rem;
                            border-radius: 50%;
                            background-color: white;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: all 1s ease;
                            margin-top: 0.5rem;
                        }
                        .see-more {
                            font-size: 1rem;
                            margin-top: auto;
                            background-color: #0d4bf4;
                            padding: 0.75em 3em;
                            border-radius: 100rem 100rem 0 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-weight: bold;
                            opacity: 0;
                            transition: all 1s ease;
                            pointer-events: none;
                        }
                    }

                    &:hover {
                        .item-header {
                        }
                        .item-body {
                            color: $color-1;
                        }
                        .item-buttons {
                            z-index: 0;
                            height: 100%;
                            .arrow-up {
                                transform: rotate(180deg);
                            }
                            .see-more {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            .rocket {
                position: absolute;
                right: 0;
                top: 5rem;
                width: 20rem;
                bottom: 0;
            }
        }

        .service-step-guidance {
            display: flex;
            flex-direction: column;
            z-index: 2;
            background-color: #f0f3fe;
            background-color: white;
            border-radius: 2rem;
            width: max-content;
            align-self: center;
            padding: 0 3em;
            margin-bottom: 3rem;
            position: relative;
            width: 100%;
            .header {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 70%;
                border-bottom: 4px solid $color-5;
                padding: 3em;
                span {
                    color: $color-1;
                    font-size: 2.5rem;
                }
            }
            .body {
                display: flex;
                justify-content: center;
                align-items: start;
                gap: 3rem;
                padding-bottom: 3em;
                .item {
                    display: flex;
                    flex-direction: column;
                    width: 11rem;
                    animation: stepsAnimation 10s ease infinite;

                    .item-header {
                        mix-blend-mode: multiply;
                        height: 12rem;
                    }
                    .item-body {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        gap: 0.5rem;
                        margin-top: -1.5rem;

                        h1 {
                            font-size: 1.25rem;
                        }
                        small {
                            word-break: break-all;
                        }
                    }

                    &:nth-child(1) {
                        margin-top: 0rem;
                        animation-delay: 1s;
                    }
                    &:nth-child(2) {
                        margin-top: 2rem;
                        animation-delay: 2s;
                        .item-body {
                        }
                    }
                    &:nth-child(3) {
                        margin-top: 4rem;
                        animation-delay: 3s;
                    }
                    &:nth-child(4) {
                        margin-top: 2rem;
                        gap: 1rem;
                        animation-delay: 4s;
                    }
                    &:nth-child(5) {
                        margin-top: 3rem;
                        animation-delay: 5s;
                        .item-body {
                            margin-top: -2rem;
                        }
                    }
                }
            }
            .guidance-marquee {
                max-width: max-content;
                margin: 0 auto;
                width: 1200px;
            }

            .step-guidance-background {
                position: absolute;
                transform: rotatY(180deg);
                inset: 0;
                opacity: 0.05;
                pointer-events: none;
                z-index: -1;
            }
        }

        .intro-background {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            pointer-events: none;
            .blubs {
                // display: none;
                opacity: 0.1;
                path {
                    scale: 0.5;
                    fill: black;
                }
            }
            .wave {
                z-index: 55;
            }
        }

        .intro-background-2 {
            position: absolute;
            top: 7rem;
            left: 0;
            right: 0;
            pointer-events: none;
            .wave {
                opacity: 0.1;

                path {
                    fill: $color-5;
                }
                g {
                    :nth-child(1) {
                        display: none;
                    }
                }
            }
        }
    }

    .faqs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
        margin-top: 5rem;
        border-radius: 2rem;
        overflow: hidden;
        padding: 0 4em;
        width: 80%;
        align-self: center;
        .faqs-list {
            display: grid;
            grid-template-columns: 1fr 25rem;
            align-self: center;
            position: relative;
            gap: 1rem;
            .faqs-background {
                position: absolute;
                z-index: -1;
                opacity: 0.2;
                right: 0;
                height: 100%;
                .animation {
                    width: 100%;
                    height: 100%;
                }
            }
            .left {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
                gap: 1rem;
                .col {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }
            }
            .right {
                display: flex;
                flex-direction: column;
                button {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    gap: 0.25rem;
                    background-color: $panel-color-3;
                    color: white;
                    align-self: center;
                    padding: 0.5em 1em;
                    border-radius: 100rem;
                    font-size: 1.25rem;
                }
            }
        }
        .add-question {
            position: relative;
            margin-top: 3rem;
            display: grid;
            padding: 3em;
            padding-bottom: 2em;
            padding-top: 0;
            grid-template-columns: 20rem max-content;
            align-self: center;
            .left {
                display: flex;
            }
            .right {
                display: flex;
                flex-direction: column;
                form {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 1rem;
                    margin-top: 1rem;
                    align-items: start;
                    fieldset {
                        border-radius: 0.5rem;
                        border-color: transparent;
                        border: 2px solid rgba(0, 0, 0, 0.1);
                        box-shadow: 0.2rem 0.2rem 1rem 0rem rgba(0, 0, 0, 0.05);
                        width: 100%;
                        legend {
                            display: flex;
                            align-items: center;
                            gap: 0.25rem;
                            margin: 0 1.5rem;
                            padding: 0em 0.5em;
                            font-size: 1.2rem;
                            font-weight: bold;
                        }
                        .content {
                            padding: 0.5em 1em;
                            width: 100%;
                            input {
                                all: unset;
                                width: 100%;
                                padding-top: 0;
                                font-size: 1rem;
                            }
                            textarea {
                                width: 100%;
                                resize: none;
                                border: none !important;
                                box-shadow: none !important;
                                outline: none !important;
                                background-color: transparent;
                                padding: 0.5em 1em;
                                font-size: 1rem;
                                font-family: inherit;
                                font-weight: bold;
                            }
                        }
                    }
                    .message-box {
                        grid-column: -1/1;
                    }
                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: max-content;
                        background-color: $panel-color-3;
                        color: white;
                        padding: 1em 2em;
                        border-radius: 222rem;
                        margin-top: 1rem;
                        gap: 0.25rem;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                    .error-box {
                        max-width: 35rem;
                        width: max-content;
                        grid-column: -1/1;
                        background-color: red;
                        display: grid;
                        grid-template-columns: max-content 1fr;
                        padding: 1em 2em;
                        color: white;
                        align-items: center;
                        gap: 1rem;
                        border-radius: 1rem;
                        .icon {
                            font-size: 3rem;
                        }
                        .errors {
                            line-height: 1.5;
                            display: flex;
                            flex-direction: column;
                            gap: 0.5rem;
                        }
                      
                    }
                }
                .info {
                    display: flex;
                    flex-direction: column;
                    width: 40rem;
                    gap: 0.75rem;
                    h1 {
                        display: flex;
                        gap: 1rem;
                        span {
                            font-size: 2.5rem;
                            color: $color-1;
                        }
                    }
                    p {
                        line-height: 2;
                    }
                }
            }
            .add-question-background {
                position: absolute;
                z-index: -1;
                width: 100%;
                bottom: 0;
                rotate: 180deg;
                opacity: 0.2;
            }
        }
    }

    .blogs {
        display: flex;
        flex-direction: column;
        padding: 4em 10%;
        gap: 2rem;
        position: relative;
        align-items: center;

        h1 {
            line-height: 1.5;
            font-size: 2.25rem;
            span {
                background-color: $color-3;
                color: white;
                padding: 0 0.3em;
                border-radius: 0.25rem;
                font-weight: normal;
                padding-bottom: 0.1em;
            }
        }
        .items {
            gap: 1rem;
            display: grid !important;
           
            width: 100%;
            .item {
                background-color: white;
                border-radius: 1rem;
                overflow: hidden;
                .item-header {
                    position: relative;
                    .image {
                        aspect-ratio: 16/10;
                        object-fit: cover;
                    }
                    .item-info {
                        display: none;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        background-color: white;
                        padding: 0.5em 1em;
                        border-radius: 0 1rem 0 0;
                        .sender {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;
                            .sender-info {
                                display: flex;
                                flex-direction: column;
                                gap: 0.25rem;
                                .name {
                                    font-weight: bold;
                                }
                                .role {
                                    font-size: 0.9rem;
                                }
                            }
                        }
                        img {
                            aspect-ratio: 1/1;
                            object-fit: cover;
                            width: 2.5rem;
                            border-radius: 50%;
                        }
                    }
                }
                .item-body {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    .title {
                        font-weight: bold;
                        font-size: 1.1rem;
                        padding-bottom: 0.5em;
                        padding-bottom: 0;
                    }
                    .excerpt {
                        line-height: 1.5 !important;
                        font-size: 0.9rem;
                    }
                    padding: 1.5em;
                }
                .item-buttons {
                    display: flex;
                    align-items: end;
                    justify-content: space-evenly;
                    gap: 1rem;
                    padding: 1em 0;
                    padding-top: 0;
                    .left {
                        display: flex;
                        gap: 0.75rem;
                        align-items: center;
                        justify-content: center;
                        font-size: 1.5rem;
                        button {
                            path {
                                fill: $color-4;
                            }
                            &:nth-child(3) {
                                path {
                                    fill: $panel-color-4;
                                }
                            }
                        }
                    }
                    .right {
                        .submit {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 0.25rem;
                            background-color: $panel-color-3;
                            color: white;
                            padding: 0.5em 1em;
                            border-radius: 100rem;
                            cursor: pointer;
                        }
                    }
                }
            }
            .swiper-controlls {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 1rem;
                .bullet-container {
                    width: max-content;
                    display: flex;
                    .swiper-pagination-bullet {
                        transition: all 0.5s ease;
                        &:hover {
                            scale: 2;
                        }
                    }
                }
                .arrow {
                    display: flex;
                    font-size: 2.5rem;
                    color: $color-5;
                }
            }
        }
    }
    .customers-reviews {
        display: flex;
        position: relative;
        flex-direction: column;
        padding-top: 2em;
        .background {
            position: absolute;
            pointer-events: none;
            top: -20%;
            rotate: 180deg;
        }
        .first-section {
            display: grid;
            grid-template-columns: 18rem 1fr;
            overflow: hidden;
            width: max-content;
            margin: 0 auto;

            .left {
                position: relative;
                border-radius: 3rem;
                margin: -2rem;
                .animation {
                    mix-blend-mode: multiply;
                }
            }

            .right {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                h1 {
                    font-size: 2rem;
                    line-height: 1.2;
                    span {
                        color: $color-1;
                    }
                }
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $color-1;
                    color: white !important;
                    padding: 0.75em 2em;
                    font-size: 1rem;
                    border-radius: 2rem;
                    font-weight: bold;
                    margin-top: 1rem;
                }
            }
        }
        .comments {
            display: flex;
            justify-content: center;
            align-items: start;
            gap: 5rem;
            margin-top: 1rem;
            .swiper-controlls {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 1rem;
                .bullet-container {
                    width: max-content;
                    display: flex;
                    .swiper-pagination-bullet {
                        transition: all 0.5s ease;
                        &:hover {
                            scale: 2;
                        }
                    }
                }
                .arrow {
                    display: flex;
                    font-size: 2.5rem;
                    color: $color-5;
                }
            }
            .left {
                .swiper {
                    width: 17rem;
                    padding-bottom: 3em;
                }
                .swiper-slide {
                    border-radius: 1rem;
                }
                .item {
                    display: flex;
                    flex-direction: column;
                    color: white;
                    box-shadow: none !important;
                    overflow: hidden;
                    .item-header {
                        display: flex;
                        align-items: center;
                        padding: 1em 1.5em;
                        gap: 1rem;
                        h1 {
                            font-size: 1.5rem;
                        }
                        img {
                            width: 3rem;
                        }
                    }
                    .item-body {
                        background-color: white;
                        color: $color-1;
                        padding: 2em;
                        display: flex;
                        flex-direction: column;
                        h1 {
                            color: $color-1;
                            font-size: 1.25rem;
                        }
                        p {
                            margin-top: 1rem;
                            opacity: 0.8;
                            line-height: 1.5;
                            font-size: 0.8rem;
                        }
                        .rating {
                            align-self: center;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 0.5em 1.25em;
                            font-size: 1.1rem;
                            color: white;
                            gap: 0.25rem;
                            font-weight: bold;
                            text-transform: uppercase;
                            background-color: goldenrod;
                            margin-top: 1.5rem;
                            border-radius: 100rem;
                        }
                    }
                }
            }
            .right {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-top: 3rem;
                .swiper {
                    width: 100%;
                    max-width: 40rem;
                }
                .progressers {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
                    flex-direction: column;
                    gap: 1rem;

                    .react-sweet-progress-symbol {
                        display: none;
                    }
                    .react-sweet-progress-line {
                        background-color: rgba(0, 0, 0, 0.1) !important;
                    }
                    h1 {
                        font-size: 1rem;
                        font-weight: bold;
                        grid-column: -1/1;
                        span {
                            color: $color-1;
                            font-weight: bold;
                            font-size: 2rem;
                        }
                    }
                    .item {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;

                        .header {
                            display: flex;
                            align-items: center;
                            font-weight: bold;
                            font-size: 1.25rem;
                            gap: 0.5rem;
                            span {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
        .wave-background {
            position: absolute;
            left: 0;
            right: 0;
            top: -1rem;
            pointer-events: none;
            g {
                g {
                    &:nth-child(1) {
                        opacity: 0.5;
                        path {
                        }
                        // display: none !important;
                    }
                    &:nth-child(2) {
                        opacity: 0.5;
                        path {
                        }
                        // display: none !important;
                    }
                    &:nth-child(3) {
                        opacity: 0.5;
                        path {
                            fill: $color-1;
                        }
                    }
                }
            }
        }
    }

    .about-us {
        display: grid;
        grid-template-columns: 30rem max-content;
        align-items: center;
        margin: 0 auto;
        gap: 2rem;
        padding-bottom: 4em;
        padding-top: 0;
        .left {
            scale: 1.3;
        }
        .right {
            position: relative;
            .content {
                display: flex;
                flex-direction: column;
                font-size: 1rem;
                color: $color-3;
                h1 {
                    font-size: 2.5rem;
                    padding-top: 2em;
                }
                p {
                    font-size: 1rem;
                    line-height: 1.5;
                    margin-top: 1rem;
                    max-width: 40ch;
                }
                .social-media {
                    margin-top: 1rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    .social {
                        display: flex;
                        align-items: center;
                        font-size: 1.25rem;
                        gap: 0.5rem;
                        font-weight: bold;
                    }
                }
                button {
                    background-color: $color-3;
                    width: max-content;
                    color: white;
                    padding: 0.75em 2em;
                    border-radius: 100rem;
                    font-weight: bold;
                    font-size: 1rem;
                    margin-top: 1rem;
                }
            }
        }
        .wave-background {
            position: absolute;
            bottom: -1rem;
            left: 0;
            right: 0;
            pointer-events: none;
            opacity: 0.1;
            z-index: -2;
        }
    }
}

@media only screen and (max-width: 1100px) {
    .main-page {
        section {
            display: none !important;
        }
        .poster {
            display: flex !important;
            flex-direction: column !important;
            padding-top: 5em;
            gap: 7rem;
            overflow: hidden;
            .left {
                z-index: 2;
                h1 {
                    font-size: calc(2rem + 2vw);
                }
            }
            .right {
                position: absolute;
                z-index: 0;
                opacity: 0.5;
                filter: blur(2px);
            }
        }

        .why-choose-us {
            display: flex !important;
            padding-top: 0;
            margin-top: 2rem;
            .desktop {
                display: none;
            }
            marquee {
                display: initial;
            }
            .roads {
                padding: 2em 0;
                .item {
                    .item-body {
                        display: flex;
                        flex-direction: column;
                        max-width: 16rem;
                        p {
                            white-space: pre-wrap;
                        }
                    }
                }
            }
            .start {
                padding: 0 2em;
            }
        }

        .introduction {
            display: flex !important;
            width: 100%;
            padding-top: 2em;
            .company-statics {
                .statics {
                    display: flex;
                    flex-wrap: wrap;
                    grid-template-columns: 1fr 1fr;
                    .item {
                        width: 12rem;
                        .item-header {
                            img {
                                width: 3rem;
                            }
                        }
                        .item-body {
                            h1 {
                                font-size: 1.5rem !important;
                            }
                        }
                    }
                }
            }
            .world-map {
                display: flex;
                flex-wrap: wrap;
                .animation {
                    all: unset;
                }
                .company-statics-description {
                    h1 {
                        font-size: 1.5rem;
                    }
                    p {
                        font-size: 0.9rem;
                    }
                }
            }
            .our-activities {
                display: flex;
                flex-direction: column-reverse;
                gap: 0;
                .left {
                }
                .left {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 0;
                    text-align: left;
                    h1 {
                        display: flex;
                        align-items: center;
                        font-size: 2rem;
                    }
                    p {
                        line-height: 1.5;
                        font-size: 1rem;
                    }
                }
            }
            .service-step-guidance {
                .header {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-color: #698ef32c;
                    padding-left: 0;
                    h1 {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        span {
                            font-size: 2rem;
                        }
                    }
                }
            }
            .our-services {
                display: flex !important;
            }
            .our-popular-services {
                background-image: none;
                padding-bottom: 3em;
                .rocket {
                    opacity: 0.3;
                }
                .body {
                    flex-direction: row;
                }
            }
        }

        .customers-reviews {
            display: flex !important;
            margin-top: 1rem;
            .first-section {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                gap: 1rem;
                .left {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 15rem;
                    .animation {
                    }
                }

                .right {
                    h1 {
                        font-size: 1.5rem;
                        line-height: 1.2;
                        span {
                            color: $color-1;
                        }
                    }
                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: $color-1;
                        color: white !important;
                        padding: 0.75em 1.5em;
                        font-size: 0.9em;
                        border-radius: 2rem;
                        font-weight: bold;
                        margin-top: 1rem;
                    }
                }
            }
            .comments {
                flex-direction: column;
                justify-content: start;
                align-items: center;
                overflow: hidden;
                gap: 0;
                .left {
                    margin-top: 1rem;
                }
                .right {
                    margin-top: -5rem;
                    .progressers {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        width: 60%;
                        padding: 2em;
                        margin: 0 auto;
                    }
                }
            }
        }

        .blogs {
            h1 {
                font-size: 1.75rem;
            }
        }

        .faqs {
            display: flex !important;
            width: 100%;
            padding: 0 10%;
            margin-top: 0;
            .faqs-list {
                display: flex;
                flex-direction: column-reverse;
                grid-template-columns: 1fr;
                .left {
                }
                .right {
                }
            }
            .add-question {
                display: flex;
                flex-direction: column;
                align-items: center;
                .right {
                    display: flex;
                    flex-direction: column;
                    max-width: 20rem;
                    .info {
                        max-width: 100%;
                    }
                    form {
                        display: flex;
                        flex-direction: column;
                    }
                }
                .left {
                }
            }
        }

        .about-us {
            display: flex !important;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;
            gap: 0;
            // overflow: hidden;
            .left {
                // width: 80%;
                all: unset;
                margin: 0;
                padding: 0;
            }
            .right {
                margin-top: -3rem;
            }
        }
    }
}
