.pop-up {
  position: fixed;
  inset: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 1;
  transition: all 1s ease;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.7);
}
.pop-up .close-button {
  font-size: 2rem;
  align-self: flex-start;
  margin-left: auto;
  color: #dc3545;
}
.pop-up .select-currency-pop-up {
  background-color: white;
  width: 30rem;
  padding: 2em;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  width: 30rem;
  min-height: 40vh;
  max-height: 65vh;
  max-width: 90dvw;
}
.pop-up .select-currency-pop-up .pop-up-header {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  position: relative;
}
.pop-up .select-currency-pop-up .pop-up-header fieldset {
  border: 1px solid rgb(206, 206, 206);
  border-radius: 0.5rem;
  transition: all 1s ease;
}
.pop-up .select-currency-pop-up .pop-up-header fieldset legend {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 0 1rem;
  font-size: 1.25rem;
  padding: 0 0.5em;
}
.pop-up .select-currency-pop-up .pop-up-header fieldset .search-currency {
  display: flex;
  align-items: center;
  padding: 1em 0.75em;
}
.pop-up .select-currency-pop-up .pop-up-header fieldset .search-currency svg {
  font-size: 1.25rem;
}
.pop-up .select-currency-pop-up .pop-up-header fieldset .search-currency input {
  all: unset;
  width: 100%;
  font-size: 1rem;
}
.pop-up .select-currency-pop-up .pop-up-header .focused {
  border: 1px solid rgb(0, 0, 0);
}
.pop-up .select-currency-pop-up .pop-up-header .search-icon {
  position: absolute;
  right: 1rem;
  top: 45%;
}
.pop-up .select-currency-pop-up .pop-up-body {
  margin-top: 1rem;
  overflow: auto;
}
.pop-up .select-currency-pop-up .pop-up-body ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.75rem;
}
.pop-up .select-currency-pop-up .pop-up-body ul li {
  display: flex;
  gap: 0.25rem;
  cursor: pointer;
  padding: 1em;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 0.5rem;
  transition: all 0.5s ease;
}
.pop-up .select-currency-pop-up .pop-up-body ul li:hover {
  background-color: #0fac6d;
  color: white;
}
.pop-up .select-currency-pop-up .pop-up-body ul .selected {
  background-color: #0fac6d;
  color: white;
}
.pop-up .select-category-pop-up {
  background-color: white;
  padding: 2em;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  max-height: 90dvh;
  width: 50rem;
  max-width: 90dvw;
}
.pop-up .select-category-pop-up .pop-up-header {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  position: relative;
  max-width: 25rem;
}
.pop-up .select-category-pop-up .pop-up-header fieldset {
  border: 1px solid rgb(206, 206, 206);
  border-radius: 0.5rem;
  transition: all 1s ease;
}
.pop-up .select-category-pop-up .pop-up-header fieldset legend {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 0 1rem;
  font-size: 1.25rem;
  padding: 0 0.5em;
}
.pop-up .select-category-pop-up .pop-up-header fieldset .search-currency {
  display: flex;
  align-items: center;
  padding: 1em 0.75em;
}
.pop-up .select-category-pop-up .pop-up-header fieldset .search-currency svg {
  font-size: 1.25rem;
}
.pop-up .select-category-pop-up .pop-up-header fieldset .search-currency input {
  all: unset;
  width: 100%;
  font-size: 1rem;
}
.pop-up .select-category-pop-up .pop-up-header .focused {
  border: 1px solid rgb(0, 0, 0);
}
.pop-up .select-category-pop-up .pop-up-header .search-icon {
  position: absolute;
  right: 1rem;
  top: 45%;
}
.pop-up .select-category-pop-up .pop-up-body {
  margin-top: 1rem;
  overflow: auto;
}
.pop-up .select-category-pop-up .pop-up-body ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
.pop-up .select-category-pop-up .pop-up-body ul .main-category {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
  overflow: hidden;
}
.pop-up .select-category-pop-up .pop-up-body ul .main-category .main-category-header {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  line-height: 0;
  gap: 0.5rem;
  line-height: 1.5;
  color: #17a2b8;
  font-size: 1.25rem;
}
.pop-up .select-category-pop-up .pop-up-body ul .main-category .main-category-header svg {
  background-color: #17a2b8;
  border-radius: 50%;
  color: white;
}
.pop-up .select-category-pop-up .pop-up-body ul .main-category .sub-categories {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5rem;
}
.pop-up .select-category-pop-up .pop-up-body ul .main-category .sub-categories li {
  display: flex;
  gap: 0.25rem;
  cursor: pointer;
  padding: 1em;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 0.5rem;
  transition: all 0.5s ease;
}
.pop-up .select-category-pop-up .pop-up-body ul .main-category .sub-categories li:hover {
  background-color: #0fac6d;
  color: white;
}
.pop-up .select-category-pop-up .pop-up-body ul .main-category .sub-categories .selected {
  background-color: #0fac6d;
  color: white;
}
.pop-up .select-service-pop-up {
  background-color: white;
  padding: 2em;
  padding-top: 0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  height: 80dvh;
  max-height: 80vh;
  width: 60rem;
  padding: 2em;
}
.pop-up .select-service-pop-up .pop-up-header {
  font-size: 1.5rem;
  padding: 0 1em;
  font-weight: bold;
}
.pop-up .select-service-pop-up .pop-up-header h1 {
  display: none;
}
.pop-up .select-service-pop-up .pop-up-header fieldset {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0.5rem;
  transition: all 1s ease;
  max-width: 30ch;
}
.pop-up .select-service-pop-up .pop-up-header fieldset legend {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 0 1rem;
  font-size: 1.25rem;
  padding: 0 0.5em;
}
.pop-up .select-service-pop-up .pop-up-header fieldset .content {
  display: flex;
  align-items: center;
  padding: 0.4em 0.75em;
}
.pop-up .select-service-pop-up .pop-up-header fieldset .content input {
  all: unset;
  width: 100%;
  font-size: 1rem;
}
.pop-up .select-service-pop-up .pop-up-body {
  overflow: auto;
  padding-bottom: 2em;
}
.pop-up .select-service-pop-up .pop-up-body .category-component .header {
  padding: 2em;
}
.pop-up .select-service-pop-up .pop-up-body .category-component .body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 1rem;
  overflow: auto;
  padding-right: 2em;
}
.pop-up .select-service-pop-up .pop-up-body .category-component .body .service {
  display: flex;
  flex-direction: column;
  padding: 2em;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
  box-shadow: 0;
  cursor: pointer;
  transition: all 0.5s ease;
  background-color: #f5f5f5;
  border: 2px solid transparent;
}
.pop-up .select-service-pop-up .pop-up-body .category-component .body .service .service-header {
  font-size: 0.9rem;
  font-weight: bold;
}
.pop-up .select-service-pop-up .pop-up-body .category-component .body .service .service-header p {
  line-height: 1.5;
}
.pop-up .select-service-pop-up .pop-up-body .category-component .body .service .service-body {
  margin-top: 1rem;
  gap: 0.75rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.pop-up .select-service-pop-up .pop-up-body .category-component .body .service .service-body .property {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  font-size: 0.8rem;
  font-weight: bold;
}
.pop-up .select-service-pop-up .pop-up-body .category-component .body .service .service-body .property .left {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.pop-up .select-service-pop-up .pop-up-body .category-component .body .service .service-body .property .left svg {
  font-size: 1.1rem;
}
.pop-up .select-service-pop-up .pop-up-body .category-component .body .service:hover {
  background-color: #d7e1ff;
  border: 2px solid #0fac6d;
}
.pop-up .select-payment-method-pop-up {
  background-color: white;
  padding: 2em;
  padding-top: 0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  max-height: 90dvh;
  width: 50rem;
  max-width: 90dvw;
  padding: 2em;
}
.pop-up .select-payment-method-pop-up .pop-up-header {
  font-size: 1.25rem;
  padding: 0 1em;
  font-weight: bold;
}
.pop-up .select-payment-method-pop-up .pop-up-body {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 2rem;
  gap: 0.5rem;
  align-items: start;
}
.pop-up .select-payment-method-pop-up .pop-up-body .item {
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  width: -moz-max-content;
  width: max-content;
  max-width: 90%;
  transition: all 0.5s ease;
  border-radius: 0.2rem;
  cursor: pointer;
}
.pop-up .select-payment-method-pop-up .pop-up-body .item span {
  font-size: 1.5rem;
  width: 3ch;
}
.pop-up .select-payment-method-pop-up .pop-up-body .item p {
  font-size: 1rem;
}
.pop-up .select-payment-method-pop-up .pop-up-body .item:hover {
  background-color: #698df3;
  color: white;
}
.pop-up .select-payment-method-pop-up .pop-up-body .true {
  background-color: #698df3;
  color: white;
}
.pop-up .select-amount-of-money-pop-up {
  background-color: white;
  padding-top: 0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  min-width: 25rem;
  max-width: 40rem;
  padding: 2em;
}
.pop-up .select-amount-of-money-pop-up .pop-up-header {
  font-size: 1rem;
  font-weight: bold;
}
.pop-up .select-amount-of-money-pop-up .pop-up-body {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.pop-up .select-amount-of-money-pop-up .pop-up-body fieldset {
  width: 100%;
  padding: 0.5em 1em;
  border-radius: 0.5rem;
  font-weight: bold;
}
.pop-up .select-amount-of-money-pop-up .pop-up-body fieldset legend {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5em;
}
.pop-up .select-amount-of-money-pop-up .pop-up-body fieldset .content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.pop-up .select-amount-of-money-pop-up .pop-up-body fieldset .content input {
  all: unset;
  width: 100%;
}
.pop-up .select-amount-of-money-pop-up .pop-up-body .form-info {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1rem;
}
.pop-up .select-amount-of-money-pop-up .pop-up-body .form-info .form-group {
  display: flex;
  font-size: 1.25rem;
  gap: 0.5rem;
}
.pop-up .select-amount-of-money-pop-up .pop-up-body .form-info .form-group .group-left {
  display: flex;
  align-items: center;
  width: 10ch;
  gap: 0.25rem;
}
.pop-up .select-amount-of-money-pop-up .pop-up-body .form-info .form-group .group-left svg {
  font-size: 1.5rem;
}
.pop-up .select-amount-of-money-pop-up .pop-up-body .form-info .form-group .group-right {
  display: flex;
  align-items: center;
}
.pop-up .select-amount-of-money-pop-up .pop-up-body .form-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pop-up .select-amount-of-money-pop-up .pop-up-body .form-buttons button {
  background-color: #0fac6d;
  color: white;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75em;
  border-radius: 0.5rem;
  gap: 0.5rem;
  font-size: 1.2rem;
}
.pop-up .admin-panel-edit-user-pop-up {
  background-color: white;
  padding-top: 0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  min-width: 25rem;
  max-width: 40rem;
  padding: 2em;
}
.pop-up .admin-panel-edit-user-pop-up .pop-up-body img {
  margin: 2rem auto;
  -o-object-fit: cover;
     object-fit: cover;
  width: 13rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.pop-up .admin-panel-edit-user-pop-up .pop-up-body .submit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0fac6d;
  color: white;
  width: 100%;
  margin-top: 1rem;
  padding: 0.7em 0em;
  letter-spacing: 2px;
  gap: 0.25rem;
  border-radius: 100rem;
}
.pop-up .admin-panel-create-faq-pop-up {
  background-color: white;
  padding-top: 0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  min-width: 25rem;
  max-width: 40rem;
  padding: 2em;
}
.pop-up .admin-panel-create-faq-pop-up .pop-up-body textarea {
  resize: vertical;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  font-family: inherit !important;
  letter-spacing: 1px;
  font-size: 1rem;
  width: 100%;
  max-width: 20rem;
}
.pop-up .admin-panel-create-faq-pop-up .pop-up-body .submit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0fac6d;
  color: white;
  width: 100%;
  margin-top: 1rem;
  padding: 0.7em 0em;
  letter-spacing: 2px;
  gap: 0.25rem;
  border-radius: 100rem;
}
.pop-up .admin-panel-create-blog-pop-up {
  background-color: white;
  padding-top: 0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  min-width: 25rem;
  max-width: 40rem;
  padding: 2em;
  max-height: 90dvh;
}
.pop-up .admin-panel-create-blog-pop-up .pop-up-body {
  overflow: auto;
}
.pop-up .admin-panel-create-blog-pop-up .pop-up-body img {
  margin: 2rem auto;
  -o-object-fit: cover;
     object-fit: cover;
  width: 20rem;
  border-radius: 0.5rem;
  aspect-ratio: 16/9;
}
.pop-up .admin-panel-create-blog-pop-up .pop-up-body textarea {
  resize: vertical;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  font-family: inherit !important;
  letter-spacing: 1px;
  font-size: 1rem;
  width: 100%;
  max-width: 20rem;
}
.pop-up .admin-panel-create-blog-pop-up .pop-up-body .submit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0fac6d;
  color: white;
  width: 100%;
  margin-top: 1rem;
  padding: 0.7em 0em;
  letter-spacing: 2px;
  gap: 0.25rem;
  border-radius: 100rem;
}
.pop-up .admin-panel-create-platform-pop-up {
  background-color: white;
  padding-top: 0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  min-width: 25rem;
  max-width: 40rem;
  max-height: 90dvh;
  padding: 2em;
}
.pop-up .admin-panel-create-platform-pop-up .pop-up-body {
  overflow: auto;
}
.pop-up .admin-panel-create-platform-pop-up .pop-up-body img {
  margin: 2rem auto;
  width: 20rem;
  border-radius: 0.5rem;
  aspect-ratio: 1/1;
}
.pop-up .admin-panel-create-platform-pop-up .pop-up-body textarea {
  resize: vertical;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  font-family: inherit !important;
  letter-spacing: 1px;
  font-size: 1rem;
  width: 100%;
  max-width: 20rem;
}
.pop-up .admin-panel-create-platform-pop-up .pop-up-body input[type=color] {
  height: 2rem;
}
.pop-up .admin-panel-create-platform-pop-up .pop-up-body .submit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0fac6d;
  color: white;
  width: 100%;
  margin-top: 1rem;
  padding: 0.7em 0em;
  letter-spacing: 2px;
  gap: 0.25rem;
  border-radius: 100rem;
}

.show-pop-up {
  pointer-events: all !important;
  opacity: 1;
}

.close-pop-up {
  pointer-events: none !important;
  opacity: 0;
}/*# sourceMappingURL=pop-up.css.map */